[flake8]
ignore =
    # Multiple spaces before operator
    E221
    W503
    W504
per-file-ignores =
    __init__.py:F401
    spec2nii/GE/ge_read_pfile.py:W293, W291, E222
    spec2nii/GE/ge_hdr_fields.py:E241
exclude =
    .git,
    __pycache__,
    .vscode,
    # Exclude Definitions file so that things can be on one line.
    spec2nii/nifti_mrs/definitions.py
max-line-length=120
